@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.puzzles {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url('/vercel/path0/src/styles/gamebg4.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.logo-text {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #00A0FF;
  font-family: 'Cinzel Decorative', serif;
  z-index: 2;
}

.user-info {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #2d536b;
  color: white;
  padding: 8px 16px;
  border-radius: 30px 0 30px 0;
  text-decoration: none;
  font-weight: bold;
  transition: background-color .3s ease;
  z-index: 2;
  cursor: pointer;
}

.user-info:hover {
  background-color: #6C757D;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.dropdown-button {
  background-color: #F8F9FA;
  color: #212529;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.dropdown-button:hover {
  background-color: #343A40;
}

main {
  padding-top: 60px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.chessboard {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #333;
  margin-top: 20px;
}

.board-row {
  display: flex;
}

.file-labels {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}

.rank-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.chess-piece {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.selected {
  box-shadow: inset 0 0 0 3px yellow;
}

.possible-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(255,0,0,.5);
  border-radius: 50%;
}

.hint {
  box-shadow: inset 0 0 0 3px green;
}

.color-options {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  background: linear-gradient(90deg, #FF00FF, #FF77FF);
  color: white;
  border: none;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hint-button, .next-puzzle {
  font-size: 18px;
}
